[submodule "libs/pistache"]
	path = libs/pistache
	url = https://github.com/oktal/pistache
[submodule "libs/libpqxx"]
	path = libs/libpqxx
	url = https://github.com/jtv/libpqxx
[submodule "libs/util-linux"]
	path = libs/util-linux
	url = https://github.com/karelzak/util-linux
